body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ultra-light-purple: rgb(225, 226, 255);
  --light-purple: rgb(193, 195, 255);
  --mid-purple: rgb(91, 91, 196);
  --dark-purple: rgb(49, 49, 133);
  --ultra-light-yellow: rgb(255, 249, 224);
  --bright-yellow: rgb(249, 207, 39);
  --wheat-yellow: rgb(246, 208, 139);
  --mid-yellow: rgb(225, 180, 0);
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:disabled {
  pointer-events: none;
}

.gameInfoContainer {
  transition: all ease-in-out 0.8s 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ultra-light-yellow);
  border-radius: 5px;
  box-shadow: 12px 12px 20px 5px rgb(0 0 255 / 0.1);
  width: max-content;
  border: 10px solid var(--wheat-yellow);
  padding: 2em;
  p {
    font-weight: 700;
    margin: 15px;
    color: var(--dark-purple);
  }
  button {
    color: whitesmoke;
    border: 3px solid var(--light-purple);
    background-color: var(--mid-purple);
    margin-top: 30px;
    transition: all ease 0.5s;
  }
}

.gameInfoContainer button:hover {
  background-color: var(--bright-yellow);
  border: 3px solid var(--mid-purple);
  color: var(--dark-purple);
  font-weight: 700;
}

.gameInfoContainer button:active {
  transform: scale(0.95);
}

.gameInfoContainer:focus-within {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.topContainer {
  padding-top: 20px;
  width: 90vw;
  display: flex;
  align-items: top;
  margin: auto;
}

.menuContainer {
  width: 200px;
}

.menuBtn {
  border: 2px solid rgb(10, 71, 139);
}

.scoreContainer {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.gameTimeContainer,
.bestTimeContainer {
  margin: auto;
  margin-top: 0;
  width: 200px;
  height: 70px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  p {
    margin: auto;
  }
}

.bestTimeContainer {
  margin-top: 1em;
}

/* .roundTimeContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  margin: 1em auto;
  p {
    margin: auto;
  }
} */

.clueContainer {
  width: 180px;
  border: 3px solid var(--dark-purple);
  margin: auto;
  margin-top: 30px;
  p {
    color: var(--dark-purple);
    padding: 10px 30px;
    font-size: 60px;
    margin: auto;
    text-align: center;
  }
}

.cardsContainer {
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 1em;
}

.noPointerEvent {
  pointer-events: none;
}

.card.true:active {
  border: 3px solid var(--dark-purple);
  background-color: var(--light-purple);
}

.card {
  background-color: var(--ultra-light-purple);
  border: 1px solid gray;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  display: flex;

  p {
    margin: auto;
    font-size: 50px;
  }
}

.wrongCard {
  border: 3px solid red;
}

.rightCard {
  border: 3px solid green;
}

.winAlert,
.lossAlert {
  background-color: var(--mid-purple);
  padding: 30px 100px;
  font-size: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  gap: 40px;
  p.newBestTime {
    font-size: 40px;
    margin: 0;
  }

  p {
    font-size: 30px;
    text-align: center;
  }
}

.winAlert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lossAlert {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playAgnBtn {
  font-size: 30px;
  display: block;
  margin: auto;
  background-color: var(--ultra-light-purple);
  transition: all 0.3s;
  border: 2px solid var(--light-purple);
  will-change: transform;
  animation-name: btn-attention;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.playAgnBtn:hover {
  background-color: var(--bright-yellow);
  border: 1px solid white;
  color: var(--dark-purple);
  border: 2px solid var(--dark-purple);
}

@keyframes btn-attention {
  0%,
  18%,
  100% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  5% {
    transform: scale(1.3);
  }
  14% {
    transform: scale(1.05);
  }
}
