body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --ultra-light-purple: rgb(225, 226, 255);
  --light-purple: rgb(193, 195, 255);
  --mid-purple: rgb(91, 91, 196);
  --dark-purple: rgb(49, 49, 133);
  --ultra-light-yellow: rgb(255, 249, 224);
  --bright-yellow: rgb(249, 207, 39);
  --wheat-yellow: rgb(255, 221, 157);
  --mid-yellow: rgb(225, 180, 0);
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:disabled {
  pointer-events: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.gameInfoContainer {
  transition: all ease-in-out 0.8s 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ultra-light-yellow);
  border-radius: 5px;
  box-shadow: 12px 12px 20px 5px rgb(0 0 255 / 0.1);
  width: max-content;
  border: 10px solid var(--wheat-yellow);
  padding: 2em;
  p {
    font-weight: 700;
    margin: 15px;
    color: var(--dark-purple);
  }
  button {
    color: whitesmoke;
    border: 3px solid var(--light-purple);
    background-color: var(--mid-purple);
    margin-top: 30px;
    transition: all ease 0.5s;
  }
}

.gameInfoContainer button:hover {
  background-color: var(--bright-yellow);
  border: 3px solid var(--mid-purple);
  color: var(--dark-purple);
  font-weight: 700;
}

.gameInfoContainer button:active {
  transform: scale(0.95);
}

.gameInfoContainer:focus-within {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.topContainer {
  padding: 40px 0px;
  width: 90vw;
  display: flex;
  margin: 0px auto;
  gap: 30px;
}

.menuBtn {
  border: 1.5px solid black;
  width: max-content;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  img {
    width: 30px;
  }
}

.menuBtn:hover {
  border: 2px solid rgb(10, 71, 139);
}

.topLeftWrapper {
  display: flex;
  gap: 10px;
  width: inherit;
}

.topRightWrapper {
  display: flex;
  gap: 10px;
  width: inherit;
}

.scoreContainer {
  width: 200px;
  margin-right: auto;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.gameTimeContainer {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  margin-left: auto;
  p {
    margin: auto;
  }
}

.bestTimeContainer {
  margin-left: auto;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  p {
    margin: auto;
  }
}

/* .roundTimeContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  margin: 1em auto;
  p {
    margin: auto;
  }
} */

.clueContainer {
  width: max-content;
  border: 3px solid var(--dark-purple);
  margin: 0px auto;
  margin-top: 30px;
  p {
    color: var(--dark-purple);
    padding: 10px 30px;
    font-size: 60px;
    margin: auto;
    text-align: center;
  }
}

.cardsContainer {
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 3em;
}

.noPointerEvent {
  pointer-events: none;
}

.card.true:active {
  border: 3px solid var(--dark-purple);
  background-color: var(--light-purple);
}

.card {
  background-color: var(--ultra-light-purple);
  border: 1px solid gray;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  display: flex;

  p {
    margin: auto;
    font-size: 50px;
  }
}

.wrongCard {
  border: 3px solid red;
}

.rightCard {
  border: 3px solid green;
}

.playAgnContainer p {
  color: var(--wheat-yellow);
  font-weight: 700;
}

.winAlert,
.lossAlert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mid-purple);
  padding: 30px 100px;
  font-size: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
  border-radius: 8px;
  gap: 40px;
  p.newBestTime {
    color: var(--wheat-yellow);
    font-weight: 700;
    font-size: 40px;
    margin: 0;
  }

  p {
    font-size: 30px;
    text-align: center;
  }
}

.playAgnBtn {
  font-size: 30px;
  display: block;
  margin: auto;
  background-color: var(--ultra-light-purple);
  transition: all 0.3s;
  border: 2px solid var(--light-purple);
  will-change: transform;
  animation-name: btn-attention;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.playAgnBtn:hover {
  background-color: var(--bright-yellow);
  border: 1px solid white;
  color: var(--dark-purple);
  border: 2px solid var(--dark-purple);
}

@keyframes btn-attention {
  0%,
  18%,
  100% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  5% {
    transform: scale(1.3);
  }
  14% {
    transform: scale(1.05);
  }
}

@media (max-width: 600px) {
  .menuBtn {
    border: none;
  }
  .topContainer {
    display: block;
    padding: 20px 0px;
    div {
      height: 40px;
    }
  }
  .topRightWrapper {
    margin-top: 10px;
  }
  .scoreContainer {
    width: max-content;
    padding: 0px 10px;
  }
  .clueContainer {
    border: 3px solid var(--dark-purple);
    margin: 10px auto;
    p {
      color: var(--dark-purple);
      padding: 10px 30px;
      font-size: 30px;
      margin: auto;
      text-align: center;
    }
  }

  .gameInfoContainer {
    font-size: 20px;
    width: 90vw;
    padding: 0.5em;
    p {
      margin: 5px;
      padding-top: 10px;
      text-align: center;
    }
    button {
      margin: 30px;
      font-size: 25px;
    }
  }

  .cardsContainer {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 30px 10px;
    /* height: calc(100vh - 270px); */
  }

  .card {
    width: 70vw;
    height: auto;
    flex: 1;
  }

  .winAlert,
  .lossAlert {
    width: 80vw;
    padding: 30px 20px;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    p.newBestTime {
      font-size: 30px;
      margin: 0;
    }

    p {
      font-size: 27px;
      text-align: center;
    }
  }
  .playAgnBtn {
    font-size: 27px;
  }
  .lossAlert {
    top: 50%;
  }
}
