body {
  margin: 0;
  padding: 0;
}

:root {
  --light-purple: rgb(193, 195, 255);
  --mid-yellow: rgb(225, 180, 0);
  --mid-purple: rgb(91, 91, 196);
  --dark-purple: rgb(49, 49, 133);
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gameInfoContainer {
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-purple);
  border-radius: 10px;
  box-shadow: 12px 12px 20px 5px rgb(0 0 255 / 0.1);
  width: max-content;
  padding: 2em;
  p {
    font-weight: 700;
    margin: 15px;
    color: var(--dark-purple);
  }
  button {
    color: whitesmoke;
    background-color: var(--dark-purple);
    margin-top: 30px;
  }
}

.menuBtn {
  border: 2px solid rgb(10, 71, 139);
}

.topContainer {
  width: 90vw;
  display: flex;
  align-items: center;
  margin: auto;
}

.menuContainer {
  width: 200px;
}

.scoreContainer {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.gameTimeContainer,
.bestTimeContainer {
  margin: auto;
  width: 200px;
  height: 70px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: flex;
  p {
    margin: auto;
  }
}

.bestTimeContainer {
  margin-top: 1em;
}

/* .roundTimeContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  margin: 1em auto;
  p {
    margin: auto;
  }
} */

.cardsContainer {
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 1em;
}

.card {
  border: 4px solid var(--mid-yellow);
  border-radius: 10px;
  width: 200px;
  height: 300px;
  display: flex;
  p {
    margin: auto;
  }
}

.winAlert,
.lossAlert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mid-purple);
  padding: 30px 100px;
  font-size: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  gap: 40px;

  p {
    font-size: 30px;
    text-align: center;
  }
}

.playAgnBtn {
  font-size: 30px;
  display: block;
  margin: auto;
}
